{
    "themeName": "${scheme_name}",
    "themeAppearance": "${theme}",
    "filePanelsColoringRules_v1": [
        {
            "name": "selected",
            "regular": "${yellow}",
            "focused": "${yellow}",
            "filter": { "selected": true }
        },
        {
            "name": "hidden",
            "regular": "${comment}",
            "focused": "${comment}",
            "filter": { "hidden": true }
        },
        {
            "name": "directory",
            "regular": "${blue}",
            "focused": "${blue}",
            "filter": { "directory": true }
        },
        {
            "name": "symlink",
            "regular": "${aqua}",
            "focused": "${aqua}",
            "filter": { "symlink": true }
        },
        {
            "name": "executable",
            "regular": "${green}",
            "focused": "${green}",
            "filter": { "executable": true }
        },
        {
            "name": "other",
            "regular": "${fg0}",
            "focused": "${fg0}"
        }
    ],
    "filePanelsGeneralDropBorderColor": "${blue}",
    "filePanelsGeneralOverlayColor": "${bg0}",
    "filePanelsGeneralSplitterColor": "${bg3}",
    "filePanelsGeneralTopSeparatorColor": "${bg3}",
    "filePanelsTabsFont": "@systemFont, 11",
    "filePanelsTabsTextColor": "${fg0}",
    "filePanelsTabsSelectedKeyWndActiveBackgroundColor": "${bg2}",
    "filePanelsTabsSelectedKeyWndInactiveBackgroundColor": "${bg1}",
    "filePanelsTabsSelectedNotKeyWndBackgroundColor": "${bg1}",
    "filePanelsTabsRegularKeyWndHoverBackgroundColor": "${bg1}",
    "filePanelsTabsRegularKeyWndRegularBackgroundColor": "${bg0}",
    "filePanelsTabsRegularNotKeyWndBackgroundColor": "${bg0}",
    "filePanelsTabsSeparatorColor": "${bg3}",
    "filePanelsTabsPictogramColor": "${fg1}",
    "filePanelsHeaderFont": "@labelFont, 13",
    "filePanelsHeaderTextColor": "${fg1}",
    "filePanelsHeaderActiveTextColor": "${fg0}",
    "filePanelsHeaderActiveBackgroundColor": "${bg1}",
    "filePanelsHeaderInactiveBackgroundColor": "${bg0}",
    "filePanelsHeaderSeparatorColor": "${bg3}",
    "filePanelsFooterFont": "@labelFont, 13",
    "filePanelsFooterTextColor": "${fg1}",
    "filePanelsFooterActiveTextColor": "${fg0}",
    "filePanelsFooterSeparatorsColor": "${bg3}",
    "filePanelsFooterActiveBackgroundColor": "${bg1}",
    "filePanelsFooterInactiveBackgroundColor": "${bg0}",
    "filePanelsListFont": "@systemFont, 13",
    "filePanelsListSecondaryColumnsOpacity": 100,
    "filePanelsListRowVerticalPadding": 0,
    "filePanelsListGridColor": "@clearColor",
    "filePanelsListHeaderFont": "@systemFont, 11",
    "filePanelsListHeaderBackgroundColor": "${bg1}",
    "filePanelsListHeaderTextColor": "${fg1}",
    "filePanelsListHeaderSeparatorColor": "${bg3}",
    "filePanelsListFocusedActiveRowBackgroundColor": "${bg2}",
    "filePanelsListFocusedInactiveRowBackgroundColor": "${bg1}",
    "filePanelsListSelectedItemBackgroundColor": "${yellow}26",
    "filePanelsListRegularEvenRowBackgroundColor": "${bg0}",
    "filePanelsListRegularOddRowBackgroundColor": "${bg0}",
    "filePanelsBriefFont": "@systemFont, 13",
    "filePanelsBriefRowVerticalPadding": 0,
    "filePanelsBriefGridColor": "@clearColor",
    "filePanelsBriefRegularEvenRowBackgroundColor": "${bg0}",
    "filePanelsBriefRegularOddRowBackgroundColor": "${bg0}",
    "filePanelsBriefFocusedActiveItemBackgroundColor": "${bg2}",
    "filePanelsBriefFocusedInactiveItemBackgroundColor": "${bg1}",
    "filePanelsBriefSelectedItemBackgroundColor": "${yellow}26",
    "filePanelsGalleryFont": "@systemFont, 10",
    "filePanelsGalleryBackgroundColor": "${bg0}",
    "filePanelsGalleryFocusedActiveItemBackgroundColor": "${bg2}",
    "filePanelsGalleryFocusedInactiveItemBackgroundColor": "${bg1}",
    "filePanelsGallerySelectedItemBackgroundColor": "${yellow}26",
    "terminalFont": "Menlo-Regular, 13",
    "terminalOverlayColor": "${bg0}",
    "terminalForegroundColor": "${fg0}",
    "terminalBoldForegroundColor": "${fg0}",
    "terminalBackgroundColor": "${bg0}",
    "terminalSelectionColor": "${bg2}",
    "terminalCursorColor": "${fg1}",
    "terminalAnsiColor0": "${ansi_black}",
    "terminalAnsiColor1": "${ansi_red}",
    "terminalAnsiColor2": "${ansi_green}",
    "terminalAnsiColor3": "${ansi_yellow}",
    "terminalAnsiColor4": "${ansi_blue}",
    "terminalAnsiColor5": "${ansi_magenta}",
    "terminalAnsiColor6": "${ansi_cyan}",
    "terminalAnsiColor7": "${ansi_white}",
    "terminalAnsiColor8": "${ansi_br_black}",
    "terminalAnsiColor9": "${ansi_br_red}",
    "terminalAnsiColorA": "${ansi_br_green}",
    "terminalAnsiColorB": "${ansi_br_yellow}",
    "terminalAnsiColorC": "${ansi_br_blue}",
    "terminalAnsiColorD": "${ansi_br_magenta}",
    "terminalAnsiColorE": "${ansi_br_cyan}",
    "terminalAnsiColorF": "${ansi_br_white}",
    "viewerFont": "Menlo-Regular, 13",
    "viewerOverlayColor": "${bg0}",
    "viewerTextColor": "${fg0}",
    "viewerTextSyntaxKeywordColor": "${red}",
    "viewerTextSyntaxOperatorColor": "${fg0}",
    "viewerTextSyntaxIdentifierColor": "${fg0}",
    "viewerTextSyntaxNumberColor": "${purple}",
    "viewerTextSyntaxStringColor": "${aqua}",
    "viewerTextSyntaxCommentColor": "${comment}",
    "viewerTextSyntaxPreprocessorColor": "${orange}",
    "viewerSelectionColor": "${bg2}",
    "viewerBackgroundColor": "${bg0}"
}
