[colors]
ansi = ${ansi}
brights = ${brights}
background = "${bg0}"
foreground = "${fg0}"
cursor_bg = "${fg0}"
cursor_fg = "${bg0}"
cursor_border = "${fg0}"
selection_bg = "${bg2}"
selection_fg = "${fg0}"
split = "${bg3}"
scrollbar_thumb = "${bg2}"

[colors.tab_bar]
background = "${bg1}"

[colors.tab_bar.active_tab]
bg_color = "${bg0}"
fg_color = "${fg0}"

[colors.tab_bar.inactive_tab]
bg_color = "${bg1}"
fg_color = "${fg1}"

[metadata]
name = "${scheme_name}"
author = "${author}"
